@charset "utf-8";
/* CSS Document */

img {
    max-width: 100%;
    max-height: 100%;
}
#g1 {
	width: 7%;
	height: 7%;
	float: left;
	margin-top: 7.5%;
	margin-left: 32%;
	display: block;
	position: relative;
}
#g1 img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#g1 img.bottom {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#g1:hover img.top {
    opacity:0;
}

#g1:hover img.bottom {
    display:block;
    opacity:1;
}
#o1 {
	width: 4%;
	height: 4%;
	float: left;
	margin-top: 10%;
	margin-left: 1.5%;
	display: block;
	position: relative;
}
#o1 img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#o1 img.bottom {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#o1:hover img.top {
    opacity:0;
}

#o1:hover img.bottom {
   display:block;
    opacity:1;
}

#o2 {
	width: 4%;
	height: 4%;
	float: left;
	margin-top: 10.1%;
	margin-left: 1.8%;
	display: block;
	position:relative;
}
#o2 img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#o2 img.bottom {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#o2:hover img.top {
    opacity:0;
}

#o2:hover img.bottom {
   	display:block;
    opacity:1;
}
#g2 {
	width: 6%;
	height: 6%;
	float: left;
	margin-top: 10%;
	margin-left: .9%;
	display: block;
	position:relative;
}
#g2 img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#g2 img.bottom {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#g2:hover img.top {
    opacity:0;
}

#g2:hover img.bottom {
   	display:block;
    opacity:1;
}

#l {
	width: 6%;
	height: 6%;
	float: left;
	margin-top: 8%;
	display: block;
	position:relative;
}
#l img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#l img.bottom {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#l:hover img.top {
    opacity:0;
}

#l:hover img.bottom {
   	display:block;
    opacity:1;
}

#e {
	width: 4.5%;
	height: 4.5%;
	float: left;
	margin-top: 9.7%;
	display: block;
	position:relative;
}
#e img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#e img.bottom {
    z-index:-1;
    opacity:0;
    position:absolute;
    left:0;
}

#e:hover img.top {
    opacity:0;
}

#e:hover img.bottom {
   	display:block;
    opacity:1;
}
