@charset "utf-8";
/* CSS Document */

#bg1 {	
	top: 0;
	left: 0;
	width: 1920px;	
	height: 1080px;		
	background-image: url(moon.jpg);
	background-size: cover;
	position: absolute;
	z-index: 0;
}

#text1 {
	top: 10;
	left: 10;
	font-size:50px;
	width:360px; 
	height:80px;
	margin-top:315px; 
	margin-left:422px;
	position: absolute;
	z-index: 1;
	font-family: snell roundhand;
	color: white;
}
