@charset "UTF-8";

@font-face {
    font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif';
    font-weight: normal;
    font-style: normal;
}
/*html{
	background-color:black;
	
}*/
body{
	width = auto;
	height= auto;
	color: black;
	font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif';
}
#container{
	width: 1200px;
	height: 1800px;
	min-height: 800px;
	min-width: 1280px;
	background-color: #EDD7FA;
	margin-top: 22px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 23px;
}
#containerSmall{
	width: 900px;
	height: 500px;
	min-height: 800px;
	min-width: 800px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
	background-color: #AFE5FF;
	padding-top: 85px;
}

#text{
	width: 900px;
	height: 500px;
	min-width: 900px;
	min-height: 400px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	border-radius: 10%;
	background-color: #AFE522;
	font-size: 36px;
}
#imgHolder{
	width: 720px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

}@media screen and (max-width: 640px) 
{
#wrap_______________START959{} 
	

#container{
	width: 820px;
	height: 820px;
	min-width: 760px;
	min-height: 1600px;
	background-color: #EDD7FA;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}
#containerSmall{
	width: 600px;
	height: 600px;
	min-width: 640px;
	min-height: 680px;
	background-color: #83D6FD;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

#text{
	width: 600px;
	height: 600px;
	min-width: 640px;
	padding: 50px;
	border-radius: 10%;
	background-color: #AFE522;
	font-size: 32px;
}
#imgHolder{
	width: 480px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	}	
}
	
@media screen and (max-width: 420px) 
{
#wrap_______________START767{} 
#container{
	width: 720px;
	height: 1400px;
	min-width: 680px;
	min-height: 1200px;
	background-color: #CE8DF5;
	margin-top: 22px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 18px;
}
#containerSmall{
	width: 480px;
	height: 480px;
	min-width: 460px;
	min-height: 460px;
	margin-top: 50px;
	padding: 20px;
	border-radius: 10%;
	background-color: #4DE1F9;
	}

#text{
	width: 480px;
	height: 480px;
	min-width: 460px;
	min-height: 460px;
	margin-top: 50px;
	padding: 20px;
	border-radius: 10%;
	background-color: #AFE522;
	font-size: 24px;
}
#imgHolder{
	width: 360px;
	height: auto;
	}	
}	
	
	
	
@media screen and (max-width: 420px) 
{
#wrap_______________START420{} 	#container{
	width: 400px;
	height: 400px;
	min-height: 850px;
	min-width: 360px;
	background-color: #EDD7FA;
	margin-top: 5px;
	padding-top: 5px;
}
#containerSmall{
	width: 280px;
	height: 240px;
	min-height: 240px;
	min-width: 240px;
	margin-top: 10px;
	border-radius: 10%;
	background-color: #AFE5FF;
	padding-top: 35px;
}

#text{
	width: 240px;
	height: 350px;
	min-width: 240px;
	min-height: 260px;
	margin-top: 10px;
	padding: 20px;
	border-radius: 10%;
	background-color: #AFE522;
	font-size: 16px;
}
#imgHolder{
	width: 220px;
	height: auto;
	}	
}